{% extends "base.html" %}

{% block main %}
	{% load googlecharts %}
	<h1 class="page-header">Dashboard</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out" style="margin-left:auto; margin-right:auto;"></div>
		</div>
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out2" style="margin-left:auto; margin-right:auto;"></div>
		</div>
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out3" style="margin-left:auto; margin-right:auto;"></div>
		</div>
        
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out4" style="margin-left:auto; margin-right:auto;"></div>
		</div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out5" style="margin-left:auto; margin-right:auto;"></div>
		</div>
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<div id="out6" style="margin-left:auto; margin-right:auto;"></div>
		</div>
	</div>
{% endblock %}

{% block tail %}
	{% googlecharts %}

		{% data values "out_data" %}
			{% col "string" "Name" %}"{{ val }}"{% endcol %}
			{% col "number" "Value" %}{{ val }}{% endcol %}
		{% enddata %}

		{% data values_2 "out2_data" %}
			{% col "string" "Name" %}"{{ val }}"{% endcol %}
			{% col "number" "Value" %}{{ val }}{% endcol %}
		{% enddata %}

		{% data values_3 "out3_data" %}
			{% col "string" "Name" %}"{{ val }}"{% endcol %}
			{% col "number" "Assigned Issues" %}{{ val }}{% endcol %}
		{% enddata %}

        {% data values_4 "out4_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Message count" %}{{ val }}{% endcol %}
        {% enddata %}

        {% data values_5 "out5_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}

        {% data values_6 "out6_data" %}
        {% col "string" "Name" %}"{{ val }}"{% endcol %}
        {% col "number" "Value" %}{{ val }}{% endcol %}
        {% enddata %}


		{% options "out_pie_options" %}
			kind: "PieChart",
			options: {
				width: 450,
				height: 250
			}
		{% endoptions %}

		{% options "out_column_options" %}
			kind: "ColumnChart",
			options: {
				width: 450,
				height: 250,
				vAxis: {minValue:0, format:'#'}
			}
		{% endoptions %}

		{# chart is assembled from container, data and options #}
		{% graph "out" "out_data" "out_pie_options" %}
		{% graph "out2" "out2_data" "out_pie_options" %}
		{% graph "out3" "out3_data" "out_column_options" %}
        {% graph "out4" "out4_data" "out_column_options" %}
        {% graph "out5" "out5_data" "out_pie_options" %}
        {% graph "out6" "out6_data" "out_pie_options" %}

	{% endgooglecharts %}
{% endblock %}
